In [8]:
import pandas as pd

train = pd.read_csv("../data/parking_demand_dataset/train.csv")
test = pd.read_csv("../data/parking_demand_dataset/test.csv")
sub = pd.read_csv("../data/parking_demand_dataset/sample_submission.csv")
age = pd.read_csv("../data/parking_demand_dataset/age_gender_info.csv")

train.shape, test.shape, sub.shape, age.shape

((2952, 15), (1022, 14), (150, 2), (16, 23))

In [20]:
print(train.columns,end="\n\n")
print(test.columns,end="\n\n")
print(sub.columns,end="\n\n")
print(age.columns,end="\n\n")

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수'],
      dtype='object')

Index(['code', 'num'], dtype='object')

Index(['지역', '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)',
       '20대(남자)', '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)',
       '50대(남자)', '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)',
       '80대(남자)', '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)'],
      dtype='object')

In [9]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [33]:
print("단지코드", end="\n")
print(train["단지코드"].unique(), end="\n")
print("임대건물구분", end="\n")
print(train["임대건물구분"].unique(), end="\n")
print("지역", end="\n")
print(train["지역"].unique(), end="\n")
print("자격유형", end="\n")
print(train["자격유형"].unique(), end="\n")

단지코드
['C2483' 'C2515' 'C1407' 'C1945' 'C1470' 'C1898' 'C1244' 'C1171' 'C2073'
 'C2513' 'C1936' 'C2049' 'C2202' 'C1925' 'C2576' 'C1312' 'C1874' 'C2650'
 'C2416' 'C2013' 'C1424' 'C2100' 'C2621' 'C2520' 'C2319' 'C1616' 'C1704'
 'C2258' 'C1032' 'C2038' 'C1859' 'C1722' 'C1850' 'C2190' 'C1476' 'C1077'
 'C1068' 'C1983' 'C2135' 'C2034' 'C1109' 'C1497' 'C2289' 'C2597' 'C2310'
 'C1672' 'C2132' 'C1439' 'C1613' 'C2216' 'C1899' 'C1056' 'C2644' 'C1206'
 'C2481' 'C1718' 'C1655' 'C1430' 'C1775' 'C1519' 'C2221' 'C1790' 'C2109'
 'C1698' 'C1866' 'C1005' 'C1004' 'C1875' 'C2156' 'C2212' 'C2401' 'C2571'
 'C1175' 'C1833' 'C2445' 'C1885' 'C2368' 'C2016' 'C2371' 'C2536' 'C2538'
 'C1014' 'C1592' 'C1867' 'C2326' 'C1015' 'C1620' 'C1049' 'C2000' 'C2097'
 'C1668' 'C1689' 'C1234' 'C2514' 'C1368' 'C1057' 'C2336' 'C1026' 'C2256'
 'C1900' 'C2666' 'C2361' 'C1642' 'C1013' 'C2232' 'C1973' 'C2458' 'C2574'
 'C2133' 'C2096' 'C2010' 'C1879' 'C1131' 'C1468' 'C1213' 'C1173' 'C2492'
 'C2032' 'C2094' 'C1880' 'C2089' 'C1744' 'C2046' 'C2071' 'C2635' 'C2390'
 'C2561' 'C1663' 'C2490' 'C2066' 'C1585' 'C2276' 'C1155' 'C1693' 'C1889'
 'C2518' 'C1962' 'C1666' 'C1988' 'C1537' 'C1329' 'C1762' 'C2008' 'C1319'
 'C1141' 'C2340' 'C1929' 'C1681' 'C1184' 'C2383' 'C1579' 'C2173' 'C1911'
 'C1638' 'C2412' 'C1871' 'C1309' 'C1527' 'C2208' 'C1940' 'C2596' 'C2227'
 'C2563' 'C2358' 'C1492' 'C1601' 'C1687' 'C1236' 'C1487' 'C1379' 'C1386'
 'C1656' 'C2526' 'C1022' 'C1896' 'C1269' 'C1916' 'C2070' 'C1967' 'C2021'
 'C1143' 'C2188' 'C2651' 'C1036' 'C2657' 'C2527' 'C1502' 'C2262' 'C1084'
 'C2530' 'C1046' 'C1761' 'C1102' 'C2420' 'C1122' 'C2042' 'C1375' 'C1410'
 'C1641' 'C1706' 'C1307' 'C2601' 'C1085' 'C2385' 'C1059' 'C2162' 'C1819'
 'C2325' 'C2394' 'C1133' 'C1281' 'C1194' 'C2308' 'C2036' 'C1394' 'C1180'
 'C2503' 'C1907' 'C2181' 'C1768' 'C1783' 'C2192' 'C2346' 'C2680' 'C2631'
 'C2141' 'C1569' 'C2099' 'C2287' 'C2055' 'C1428' 'C2522' 'C2560' 'C2068'
 'C2603' 'C1965' 'C1660' 'C2378' 'C1268' 'C1994' 'C1837' 'C1000' 'C1465'
 'C1448' 'C1516' 'C2670' 'C1365' 'C1177' 'C1360' 'C2488' 'C1406' 'C1566'
 'C1227' 'C2460' 'C2486' 'C2106' 'C1572' 'C1773' 'C1677' 'C1823' 'C1344'
 'C2692' 'C2505' 'C2587' 'C2127' 'C1316' 'C1674' 'C1713' 'C1845' 'C2082'
 'C1328' 'C2357' 'C2565' 'C1804' 'C1397' 'C2255' 'C1343' 'C1987' 'C2479'
 'C2352' 'C1310' 'C1738' 'C1039' 'C1863' 'C1426' 'C2659' 'C2489' 'C2211'
 'C2314' 'C1861' 'C2389' 'C1490' 'C1024' 'C1788' 'C1740' 'C2620' 'C1286'
 'C2085' 'C1089' 'C2237' 'C1341' 'C1338' 'C2405' 'C1969' 'C2274' 'C1699'
 'C2251' 'C1340' 'C2373' 'C1455' 'C1095' 'C2137' 'C1985' 'C2583' 'C2663'
 'C2450' 'C2329' 'C1834' 'C1649' 'C1848' 'C1743' 'C1350' 'C1402' 'C1103'
 'C1129' 'C1027' 'C2377' 'C2431' 'C2661' 'C1263' 'C1136' 'C2605' 'C2393'
 'C1673' 'C1017' 'C2539' 'C1933' 'C2316' 'C2051' 'C2414' 'C1301' 'C1700'
 'C1636' 'C2612' 'C1757' 'C2507' 'C1163' 'C2627' 'C2040' 'C2609' 'C2001'
 'C1065' 'C1363' 'C2579' 'C1048' 'C1210' 'C1320' 'C1941' 'C1326' 'C1685'
 'C2618' 'C1451' 'C2143' 'C1968' 'C2470' 'C1258' 'C2453' 'C1659' 'C1724'
 'C1802' 'C1939' 'C1284' 'C2595' 'C2351' 'C2506' 'C1697' 'C2259' 'C1786'
 'C1357' 'C2570' 'C1652' 'C1565' 'C1910' 'C2359' 'C2139' 'C1979' 'C1803'
 'C2508' 'C2531' 'C1695' 'C2556' 'C2086' 'C1544' 'C2154' 'C2496' 'C1756'
 'C2362' 'C2568' 'C2245' 'C2059' 'C2549' 'C1584' 'C2298' 'C2225' 'C1218'
 'C2328' 'C1045' 'C1207' 'C1970' 'C1732' 'C2433' 'C1894' 'C1156' 'C2142'
 'C2153' 'C2186' 'C1176' 'C2446' 'C2586' 'C2035' 'C2020' 'C2437' 'C2532']
임대건물구분
['아파트' '상가']
지역
['경상북도' '경상남도' '대전광역시' '경기도' '전라북도' '강원도' '광주광역시' '충청남도' '부산광역시' '제주특별자치도'
 '울산광역시' '충청북도' '전라남도' '대구광역시' '서울특별시' '세종특별자치시']
자격유형
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O']

In [10]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [11]:
age.head()

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013

In [12]:
train.describe()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2952.000000,2952.000000,2952.000000,2952.000000,2741.000000,2948.000000,2952.000000,2952.000000
mean,886.661247,44.757215,102.747967,12.921070,0.176578,3.695726,601.668360,559.768293
std,513.540168,31.874280,132.640159,10.778831,0.427408,2.644665,396.407072,433.375027
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,513.500000,32.100000,14.000000,4.000000,0.000000,2.000000,279.250000,220.000000
50%,779.000000,39.930000,60.000000,11.000000,0.000000,3.000000,517.000000,487.000000
75%,1106.000000,51.562500,144.000000,20.000000,0.000000,4.000000,823.000000,770.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000

In [13]:
age.describe()

,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),40대(남자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,...,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,0.029229,0.030512,0.050039,0.052110,0.063256,0.066395,0.061250,0.060140,0.075738,0.070582,...,0.084382,0.065974,0.051411,0.035639,0.030447,0.012664,0.006226,0.001548,0.000263,0.000075
std,0.005938,0.006121,0.010954,0.011193,0.006266,0.005236,0.014111,0.014301,0.007822,0.005248,...,0.014841,0.008851,0.016191,0.009233,0.008320,0.003954,0.001818,0.000603,0.000105,0.000114
min,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047049,0.046596,0.054216,0.060769,...,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.000895,0.000084,0.000000
25%,0.026548,0.026676,0.047510,0.048234,0.060305,0.063974,0.052629,0.051301,0.075033,0.067843,...,0.074245,0.059294,0.042506,0.030571,0.026762,0.011133,0.005380,0.001086,0.000209,0.000013
50%,0.029523,0.031196,0.053214,0.054779,0.063399,0.067367,0.058899,0.055473,0.077725,0.070602,...,0.079660,0.065965,0.048150,0.032907,0.028562,0.011622,0.005772,0.001504,0.000262,0.000032
75%,0.032665,0.034820,0.059096,0.061413,0.065703,0.070326,0.065544,0.066962,0.080158,0.073796,...,0.089979,0.070076,0.051497,0.036715,0.032720,0.012737,0.006930,0.001715,0.000303,0.000089
max,0.038030,0.039507,0.060094,0.063379,0.079284,0.074689,0.106121,0.104447,0.083660,0.079183,...,0.119639,0.085294,0.097543,0.061050,0.047908,0.023463,0.011344,0.003326,0.000532,0.000464

In [23]:
age["지역"].unique()

array(['경상북도', '경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '충청남도',
       '부산광역시', '제주특별자치도', '울산광역시', '충청북도', '전라남도', '대구광역시', '서울특별시',
       '세종특별자치시'], dtype=object)