In [13]:
### 한글 폰트 설정
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import platform
import numpy as np

path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")
    
matplotlib.rcParams['axes.unicode_minus'] = False

%matplotlib inline

In [14]:
import pandas as pd

train = pd.read_csv("data/train_df_errno.csv")
test = pd.read_csv("data/test_df.csv")
sub = pd.read_csv("data/sample_submission.csv")
age = pd.read_csv("data/age_gender_info.csv")

train.shape, test.shape, sub.shape, age.shape

((2896, 15), (1008, 14), (150, 2), (16, 23))

In [18]:
train['지역'].unique()

array(['경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '충청남도', '부산광역시',
       '제주특별자치도', '울산광역시', '충청북도', '전라남도', '경상북도', '대구광역시', '서울특별시',
       '세종특별자치시'], dtype=object)

In [20]:
age['지역'].unique()

array(['경상북도', '경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '충청남도',
       '부산광역시', '제주특별자치도', '울산광역시', '충청북도', '전라남도', '대구광역시', '서울특별시',
       '세종특별자치시'], dtype=object)

In [23]:
age.columns

Index(['지역', '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)',
       '20대(남자)', '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)',
       '50대(남자)', '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)',
       '80대(남자)', '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)'],
      dtype='object')

In [66]:
age.columns = ['지역', '10대미만_여', '10대미만_남', '10대_여', '10대_남', '20대_여',
       '20대_남', '30대_여', '30대_남', '40대_여', '40대_남', '50대_여',
       '50대_남', '60대_여', '60대_남', '70대_여', '70대_남', '80대_여',
       '80대_남', '90대_여', '90대_남', '100대_여', '100대_남']

In [67]:
age['남'] = age.iloc[:,[2,4,6,8,10,12,14,16,18,20,22]].sum(axis=1)  
age['여'] = age.iloc[:,[1,3,5,7,9,11,13,15,17,19,21]].sum(axis=1)

In [71]:
age_last = age[['지역','남','여']]

In [72]:
age_last

         지역         남         여
0      경상북도  0.463584  0.536416
1      경상남도  0.466036  0.533964
2     대전광역시  0.462683  0.537317
3       경기도  0.470582  0.529418
4      전라북도  0.465432  0.534568
5       강원도  0.458546  0.541454
6     광주광역시  0.465327  0.534673
7      충청남도  0.475589  0.524411
8     부산광역시  0.455360  0.544640
9   제주특별자치도  0.460094  0.539906
10    울산광역시  0.461590  0.538410
11     충청북도  0.467948  0.532052
12     전라남도  0.479644  0.520356
13    대구광역시  0.466876  0.533124
14    서울특별시  0.450811  0.549189
15  세종특별자치시  0.473079  0.526921

In [73]:
age_last.to_csv('make_age_data.csv', index=False)